.mainContent {
    display: flex;
    width: 100%;
    @media (max-width: 840px) {
        flex-direction: column;
    }
    .top {
        position: fixed;
        right: 10px;
        bottom: 200px;
    }
    .mainContent__cards {
        display: flex;
        margin: 20px 50px 0 50px; 
        @media (max-width: 840px) {
            width: auto;
        }
    }
}