.user{
    width: 100%;
    .user__information {
        align-items: center;
        .user__information-user{
            margin: 20px 50px 0 50px;
            display: flex;
            justify-content: space-evenly;
            width: 90%;
            height: 400px;
            border: 1px solid bisque;
            box-sizing: border-box;
            box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
            border-radius: 10px;
            @media (max-width: 840px) {
                flex-direction: column;
                height: auto;
            }
            .user__photo {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 30px 0 0 30px;
            }
            .user__personal {
                margin: 30px 30px 0 0;
                @media (max-width: 840px) {
                    margin: 30px 30px 0 30px;
                    align-items: center;
                }
            }
            .images {
                border-radius: 20px;
                width: 260px;
                height: 260px;
            }
        }
        .male {
            background: linear-gradient(245deg, #5c73f3 0%, burlywood 80%);
        }
        .female {
            background: linear-gradient(245deg, burlywood 0%, #f39fe8 100%);
        }
    }
}