.header {
    width: 100%;
    height: 90px;
    background: linear-gradient(245deg, burlywood 0%, bisque 80%);
    // background: burlywood;
    .header__container {
        display: flex;
        justify-content: space-between;
        .select {
            margin-top: 28px;
            width: 90px;
            height: 30px;
            margin-right: 30px;
            padding: 0 4px;
            border: 1px solid black;
            box-sizing: border-box;
            color: black;
            font-size: 13px;
            background-color: bisque;
        }
        .logo {
            margin-left: 5%;
            margin-top: 10px;
        }
        .header__container-bar {
            display: flex;
            align-items: center;
            .route {
                width: 85px;
                margin-top: 20px;
                margin-right: 10px;
                height: 20px;
                background: black;
                cursor: pointer;
                color: rgb(255, 255, 255);
                outline: none;
                border-radius: 8px;
                border: 0;  
            }
        }
    }
}


//bisque

//burlywood